header {
  background-color: $background;
  
  nav {
    
    ul {
      padding: .3em 0;
      text-align: right;
      
      li {
        margin: 0 0.2em;
        font-size: 1.2em;
        display: inline-block;
        border-bottom: 3px solid rgba(153, 153, 153, 0);
        @include transition(0.5s);
        
        &:hover {
          border-bottom: 3px solid $light-gray;
        }
        
        &:active {
          
        }
        
        a {
          font-family: $cursive;
          font-size: 1.8em;
          display: block;
          padding: 0.1em 0.3em;
          color: $light-gray;
          @include transition(0.5s);
          
          &:hover {
            color: $light-gray / 1.5;
          }
        }
      }
    }
  }
}