// used to fade-in the section
section {
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
  opacity: 0;
  visibility: hidden;
}

section.show {
  opacity: 1;
  visibility: visible; 
}