// colors
$main-background: rgb(34, 144, 255);
$background: rgb(255, 245, 255);
$light-gray: rgb(153, 153, 153);

// values
$nav-height: 100px;
$button-intensity: 1.2;

// fonts 
@import url('https://fonts.googleapis.com/css?family=Dancing+Script');

$cursive: 'Dancing Script', cursive;